<div >
    <div class="contadot">
        <label> {{time }}</label>
    </div>

    <div class="body" >
        <div style="color: black;">
            <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
            <!--label>{{ listaPreguntas1[banderaPreguntas].textopregunta }}</label-->
            <label>{{ dataSource[banderaPreguntas].pregunta }}</label>

            <mat-radio-group [(ngModel)]="listaPreguntas1[banderaPreguntas].respuestaSeleccionada"
                aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="favoriteSeason">
                <mat-radio-button
                    class="example-radio-button">{{dataSource[banderaPreguntas].respuesta_1}}</mat-radio-button>
                <mat-radio-button
                    class="example-radio-button">{{dataSource[banderaPreguntas].respuesta_2}}</mat-radio-button>
                <mat-radio-button
                    class="example-radio-button">{{dataSource[banderaPreguntas].respuesta_3}}</mat-radio-button>
                <!--mat-radio-button *ngFor="let respuesta of seasons" [value]="respuesta">{{respuesta}} </mat-radio-button-->
                <!--mat-radio-button *ngFor="let respuesta of listaPreguntas1[banderaPreguntas].respuestas" [value]="respuesta">{{respuesta}} </mat-radio-button-->
                <!--div>Opcion seleccionada : {{favoriteSeason}}</div-->
            </mat-radio-group>


            <div class="example-button-row">
                <button (click)="back()" class="ancho button" mat-raised-button mat-button color="primary"
                    [disabled]="banderBack">ANTES
                </button>
                <button (click)="next()" class="ancho button" mat-raised-button mat-button color="primary"
                    [disabled]="banderNext">SIGUIENTE
                </button>
                <button (click)="calificarExamen()" class="ancho button" mat-raised-button mat-button color="primary"
                    [disabled]="banderSend">ENVIAR
                </button>
            </div>

        </div>
    </div>
</div>